.App {
  min-height: 100vh;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  padding: 40px;
  font-size: 16px;
  background-image: linear-gradient(to top, #dfe9f3 0%, white 100%);
  }
  .title{
  color: rgb(255, 244, 31);
  background-color:  rgb(8, 20, 96);
  padding:10px;
  border-radius: 20px;
  }
  input{
  padding-left: 5px;
  font-size: 18px;
  width: 250px;
  height: 30px;
  border: solid rgb(8, 20, 96) 2px;
  }
  table{
  width: 1000px;
  border-collapse: separate;
  border-spacing: 0 1em;
  }
  thead{
  background-color: rgb(8, 20, 96);
  color: rgb(255, 244, 31);;
  text-align: center;
  }
  tbody > tr{
  text-align: right;
  }
  .rank{
  text-align: center;
  font-weight: bold;
  }
  .logo{
  display: flex;
  justify-content: flex-start;
  padding-left: 10%;
  gap: 10px;
  }
  .symbol{
  text-align: center;
  }
  